Source: untangle-google-connector
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10), dpatch, unrar
Standards-Version: 3.9.8

Package: untangle-google-connector
Architecture: all
Depends: drive
Description: Untangle google API connection utilities
 Untangle google API connection utilities for google drive.

