Source: untangle-google-connector
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10), unrar
Standards-Version: 3.9.8

Package: untangle-google-connector
Architecture: all
Depends: ${misc:Depends}, drive, python
Description: Untangle Google API connection utilities
 Untangle Google API connection utilities for Google Drive.

