Source: untangle-lanner-lcd
Section: non-free/admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper, dh-systemd
Standards-Version: 3.7.2

Package: untangle-lanner-lcd
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, systemd-sysv, lanner-lcd-module-4.9.0-7-untangle-amd64 | lanner-lcd-module-4.9.0-7-untangle-686-pae, lanner-lcd-module-3.16.0-4-untangle-amd64 | lanner-lcd-module-3.16.0-4-untangle-686-pae
Conflicts: sysvinit-core
Description: The Untangle Lanner Appliance LCD driver
 The Untangle Lanner Appliance LCD driver daemon

