Source: untangle-lanner-lcd
Section: non-free/admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper, dh-systemd
Standards-Version: 3.7.2

Package: untangle-lanner-lcd
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, lanner-lcd-kernel, systemd-sysv
Conflicts: sysvinit-core
Description: The Untangle Lanner Appliance LCD driver
 The Untangle Lanner Appliance LCD driver daemon

