Source: untangle-lanner-lcd
Section: non-free/admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>= 10), dh-systemd
Standards-Version: 3.9.8

Package: untangle-lanner-lcd
Architecture: i386 amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, lanner-lcd-module-4.9.0-6-untangle-amd64 | lanner-lcd-module-4.9.0-6-untangle-686-pae, systemd-sysv
Conflicts: sysvinit-core
Description: The Untangle Lanner Appliance LCD driver
 The Untangle Lanner Appliance LCD driver daemon

