[Unit]
Description=Untangle Lanner LCD

[Service]
Type=simple
User=daemon
ExecStart=/usr/sbin/lanner-lcd
Restart=always
User=root

[Install]
WantedBy=multi-user.target
