Source: untangle-bdamserver
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper, dh-systemd
Standards-Version: 3.8.0

Package: untangle-bdamserver
Architecture: i386 amd64
Depends: systemd-sysv
Conflicts: sysvinit-core
Description: Bitdefender anti-malware package for VirusBlocker and SpamBlocker.
 Bitdefender bdamserver and spamassassin plugin.

