[Unit]
Description=Untangle Bit Defender Anti Malware

[Service]
Type=simple
User=bdamserver
WorkingDirectory=/usr/lib/bdamserver
ExecStart=/usr/lib/bdamserver/bdamserver -c /etc/bdamserver/bdamserver.conf
Restart=always

[Install]
WantedBy=multi-user.target
