[Unit]
Description=Webroot Brightcloud Daemon

[Service]
Type=forking
User=daemon
Environment="LD_LIBRARY_PATH=/usr/lib/bctid"
WorkingDirectory=/var/lib/bctid/database
ExecStart=/usr/bin/bctid -c /etc/bctid/bcti.cfg 8484
Restart=always

[Install]
WantedBy=multi-user.target
