Source: untangle-oem-apc
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: ${misc:Depends}, debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-oem-apc
Architecture: all
Description: The Untangle OEM for APC package
 The Untangle OEM configuration for APC

