Source: untangle-hardware-support
Section: admin
Priority: optional
Maintainer: John Irwin <jdi@untangle.com>
Uploaders: buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0), libssl-dev
Standards-Version: 3.8.0

Package: untangle-hardware-support
Architecture: i386
Depends: ${shlibs:Depends}
Description: The Untangle hardware support
 The Untangle hardware support package. Only
 loaded on Untangle sourced hardware
 .
