#!/usr/bin/make -f

INSTALL_PROGRAM := install -s

BINARY_NAME := utverifykey
BINARY_INSTALL_DIR := files/usr/bin

build: 
	dh_testdir
	rm -rf ./debian/tmp
	mkdir -p ./debian/tmp
	dh_installdirs -A -v
	make INSTALL_PROGRAM="$(INSTALL_PROGRAM)" DESTDIR=../$(BINARY_INSTALL_DIR) -C src install
	for i in `cat debian/untangle-hardware-support.dirs` ; do mkdir -p debian/tmp/$$i ; done
	cp -r ./files/* ./debian/tmp
	/usr/bin/find ./debian/tmp -name ".svn" | xargs rm -rf 

clean:
	dh_testdir
	dh_testroot
	rm -f build-arch-stamp build-indep-stamp
	rm -rf debian/tmp debian/untangle-hardware-support sav-install $(BINARY_INSTALL_DIR)/$(BINARY_NAME)
	make -C src clean
	dh_clean

binary-arch: build
	dh_testdir  
	dh_testroot   
	dh_movefiles 
#	dh_installdebconf   
	dh_shlibdeps  
	dh_installdocs -n   
#	dh_installexamples   
#	dh_installmenu   
#	dh_installlogrotate   
#	dh_installemacsen   
#	dh_installpam   
#	dh_installmime   
#	dh_installinit
#	dh_installcron   
#	dh_installman   
#	dh_installinfo   
#	dh_undocumented   
	dh_installchangelogs    
#	dh_strip  
#	dh_link   
	dh_compress   
#	dh_fixperms   
	dh_installdeb  
#	dh_perl     
	if [ -f debian/version ] ; then dh_gencontrol -- -v"`cat debian/version`" ; else dh_gencontrol ; fi
	dh_md5sums     

binary-indep: build 
# nothing to do

binary: binary-indep binary-arch
	dh_builddeb 

.PHONY: build clean binary-indep binary install
