Source: untangle-appliance-int
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.7.2

Package: untangle-appliance-int
Architecture: any
Essential: yes
Depends: untangle-vm, untangle-appliance, untangle-client-windows-jre, untangle-bootsplash, atop, untangle-iptables, untangle-nsis-addons, untangle-restore-tools, untangle-dhclient-config, untangle-postgresql-config, untangle-linux-2.6.16-ck11-config
Conflicts: kiosk-mv, dlocate, slocate, firefox-r-kiosk, jre-mv, urlblacklist.com-mv, untangle-slapd, untangle-libldap-2.2-7, untangle-ldap-utils
Provides: kiosk-mv
Replaces: kiosk-mv
Description: The Untangle appliance internal
 The Untangle appliance internal-to-untangle mode.
