[Unit]
Description=Untangle Portwell LCD

[Service]
Type=simple
User=daemon
ExecStart=/usr/sbin/ezio
Restart=always
User=root

[Install]
WantedBy=multi-user.target
