Source: untangle-windows-installer
Section: premium/admin
Priority: optional
Maintainer: Robert Scott <rbscott@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-windows-installer
Architecture: all
Depends: ruby, ruby1.8, libjson-ruby, dash
Description: The Untangle Windows Installer
  Untangle Windows Installer Support.  This contains a few scripts for preconfiguring the box.
