Source: untangle-fakekdm
Section: admin
Priority: optional
Maintainer: Sebastien Delafond <seb@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.8.0

Package: untangle-fakekdm
Architecture: all
Conflicts: fakekdm-mv
Provides: kdm, fakekdm-mv
Replaces: fakekdm-mv
Description: Fake KDM
 An empty package that supplies KDM.
