Source: untangle-spamcatd
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>> 3.0.0), dpatch, unrar
Standards-Version: 3.8.0

Package: untangle-spamcatd
Architecture: i386 amd64
Depends: spamc
Description: Mailshell antispam daemon
 Mailshell spamcatd and spamassassin plugin.
