Source: untangle-spamcatd
Section: admin
Priority: optional
Maintainer: Dirk Morris <dmorris@untangle.com>
Uploaders: Untangle Buildbot <buildbot@untangle.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 3.9.8

Package: untangle-spamcatd
Architecture: i386 amd64
Depends: ${misc:Depends}, spamc, systemd-sysv
Conflicts: sysvinit-core
Description: Mailshell antispam daemon
 Mailshell spamcatd and spamassassin plugin.

