#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# This is the debhelper compatibility version to use.

MKDIR=/bin/mkdir -p
ARCH := $(shell uname -m)

ifeq ($(ARCH),x86_64)
   SPAMCATDDIR := ./64
else
   SPAMCATDDIR := ./32
endif

include /usr/share/dpatch/dpatch.make

ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

build: build-stamp
build-stamp: patch patch-stamp
	dh_testdir
	rm -rf ./debian/tmp
	mkdir -p ./debian/tmp
	dh_installdirs -A -v
	install -d ./debian/tmp/usr/bin
	install -d ./debian/tmp/etc/spamcatd
	install -d ./debian/tmp/usr/share/perl5/Mail/SpamAssassin/Plugin
	install -d ./debian/tmp/etc/spamassassin
	install -d ./debian/tmp/usr/lib/spamcatd
	tar --exclude=.svn -cf - -C files `find files/ -name '.svn' -prune -o -mindepth 1 -maxdepth 1 -printf "%P " 2>/dev/null`  | tar -xf - -C debian/tmp
	for tarball in $(SPAMCATDDIR)/spamcatd*.tar.gz ; do \
		tar xf $$tarball -C $(SPAMCATDDIR) ; \
	done
	for tarball in $(SPAMCATDDIR)/spamcatcher*.tar.gz ; do \
		mkdir -p $(SPAMCATDDIR)/spamcatchersdk ; \
		tar xf $$tarball -C $(SPAMCATDDIR)/spamcatchersdk --strip-components=1 ; \
	done
	cp -a $(SPAMCATDDIR)/spamcatchersdk/lib/* $(SPAMCATDDIR)/spamcatd/lib/
	make -C $(SPAMCATDDIR)/spamcatd clean all
	cp $(SPAMCATDDIR)/spamcatd/spamcatd ./debian/tmp/usr/bin/spamcatd
	cp $(SPAMCATDDIR)/spamcatd/*.conf ./debian/tmp/etc/spamcatd
	cp $(SPAMCATDDIR)/spamcatd/conf/*.conf ./debian/tmp/etc/spamcatd
	cp -a $(SPAMCATDDIR)/spamcatchersdk/lib/* ./debian/tmp/usr/lib/spamcatd/
	chmod 644 ./debian/tmp/usr/lib/spamcatd/* || true
	cp ./plugin/MailShell.pm ./debian/tmp/usr/share/perl5/Mail/SpamAssassin/Plugin
	cp ./plugin/mailshell.pre ./debian/tmp/etc/spamassassin
	cp ./plugin/mailshell.cf ./debian/tmp/etc/spamassassin
	chmod 755 debian/tmp/usr/bin/*
	install -d ./debian/tmp/tmp
	/usr/bin/find ./debian/tmp/ -name '.svn' | xargs rm -rf
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf debian/tmp debian/untangle-spamcatd
	rm -rf 64/spamcatd 64/spamcatchersdk 32/spamcatd 32/spamcatchersdk
	dh_clean

binary-arch: build
	dh_testdir
	dh_testroot
	dh_movefiles
#	dh_installdebconf
#	dh_shlibdeps
	dh_installdocs -n
#	dh_installexamples
#	dh_installmenu
	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
	dh_installinit
#	dh_installcron
#	dh_installman
#	dh_installinfo
#	dh_undocumented
	dh_installchangelogs
#	dh_strip
#	dh_link
	dh_compress
#	dh_fixperms
	dh_installdeb
#	dh_perl
	/usr/bin/find ./debian/tmp/ -name '.svn' | xargs rm -rf
	if [ -f debian/version ] ; then dh_gencontrol -- -v"`cat debian/version`" ; else dh_gencontrol ; fi
	dh_md5sums
	dh_builddeb -a

binary-indep: build
# nothing to do

binary: binary-indep binary-arch

.PHONY: build clean binary-indep binary install configure
