[Unit]
Description=Untangle Spamcat

[Service]
Type=simple
User=daemon
ExecStart=/usr/bin/spamcatd.sh /etc/spamcatd/spamcatd.conf
Restart=always

[Install]
WantedBy=multi-user.target
